
<table class="table table-dark tabla">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="favorito">
      <th scope="row">1</th>
      <td>{{favorito.id}}</td>
      <td>{{favorito.idInterface}}</td>
      <td>{{favorito.interfaceSpecification}}</td>
    </tr>
  </tbody>
</table>


<p class="pbutton">
  <label>Ingrese Id:</label> <br>
  <input type = "text" [(ngModel)]='ix'/>
</p>

<div class="clearfix"></div>

<button  (click) = "verFav(ix)" (click) = "ind = !ind"
type="button" class="btn btn-outline-primary pbutton">
  Ver datos

</button>
<button [routerLink]="['/editar',favorito._id]" type="button" *ngIf="favorito != null" class="btn btn-outline-primary pbutton">
  Editar
</button>
<button type="button" (click) = "delComp(ix)" *ngIf="favorito != null" class="btn btn-outline-primary pbutton">
  Borrar
</button>
