<h1>
  {{titulo}}
</h1>
<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
  <label>Id:</label>
  <p>
    <input type = "text" name="id" #title="ngModel"[(ngModel)] = "favorito.id" required/>
  </p>
  <label>Id Interface :</label>
  <p>
    <input type = "text" name="idInterface" #title="ngModel"[(ngModel)] = "favorito.idInterface" required/>
  </p>
  <label>Interface Specification:</label>
  <p>
    <input type = "text" name="interfaceSpecification" #title="ngModel"[(ngModel)] = "favorito.interfaceSpecification" required/>
  </p>
  <input type="submit" value = "{{titulo}}">
</form>
