<!--<header id= "header">
  <h1>Inventario</h1>
  <div class="clearfix"></div>
</header>
<section class="main">
  <app-home></app-home>
  <div class="clearfix"></div>
</section>
<footer>&copy Josue Vera</footer>
-->
<div class="vertical-menu pbbutton">
  <button
  type="button" class="btn btn-outline-primary"  [routerLink]="['favoritos']">
    Home
  </button>
  <button
  type="button" class="btn btn-outline-primary"  [routerLink]="['registro']">
    Buscar por Id
  </button>
  <button
  type="button" class="btn btn-outline-primary"  [routerLink]="['insertar']">
    Insertar Registro
  </button>
</div>
