
<collapsible-table [type]="'accordion'" bordered class="table table-dark tabla" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody *ngFor="let favorito of favoritos let i = index">
    <collapsible-table-row *ngIf="favorito.id == 12"[detail]="detail1">
      <th scope="row">{{i+1}}</th>
      <td>{{favorito._id}}</td>
      <td>{{favorito.idInterface}}</td>
      <td>{{favorito.interfaceSpecification}}</td>
    </collapsible-table-row>
    <tr *ngIf="favorito.id != 12">
      <th scope="row">{{i+1}}</th>
      <td>{{favorito._id}}</td>
      <td>{{favorito.idInterface}}</td>
      <td>{{favorito.interfaceSpecification}}</td>
    </tr>
    <collapsible-table-row-detail #detail1>
        <tr>
          <th scope="row">{{i+1}}.1</th>
          <td>{{favorito._id}}</td>
          <td>{{favorito.idInterface}}</td>
          <td>{{favorito.interfaceSpecification}}</td>
        </tr>
    </collapsible-table-row-detail>
  </tbody>
</collapsible-table>

<div class="clearfix"></div>
<button (click) = "verLista()" type="button" class="btn btn-outline-primary  pbutton">
  Ver datos
</button>
