<section id="content">
  <header id= "header">
    <a href="">
      <img src="./assets/Imagenes/telcel.png" id="logo"/>
    </a>
    <span>
      <h1>     Inventario</h1>
    </span>
    <div class="clearfix"></div>
  </header>
  <section class="main">
    <router-outlet></router-outlet>
    <div class="clearfix"></div>
  </section>
</section>
<app-prueba-tabla></app-prueba-tabla> 
<section class="botonera">
  <app-home></app-home>
</section>
