/* You can add global styles to this file, and also import other style files */
body{
  font-family: Helvetica, Arial;
}

.clearfix{
  float:none;
  clear: both;
  text-decoration: none;
  list-style: none;
}

#content{
  width: 95%;
  min-height: 550px;
  margin: 0px auto;
  margin-top: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow :0px 0px 5px #ddd;
  background: #eee;
}

header{
  padding: 15px;
  background: #335EFF;
}
section header span h1{
  margin: 0px;
  margin-left: 15px;
  padding-right: 940px;
  color: #F1F1F1;
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-left: -125px;
  padding-left: 120px;
}
header #logo{
  width: 140px;
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 15PX;
}
footer{
    width: 80%;
    margin-top: 20px;
    padding-left: 100px;;
}
.main{
  padding-top: 15px;
  margin-left: 5px;
}

.pbutton{
  margin-left: 10px;
  margin-bottom: 15px;
}
.bgcolor{
  background-color: #335EFF;
  color: #ffff;
}
.tabla{
  width: 98%;
  margin-left: 10px;
}
.botonera{
  margin: 0px auto;
  margin-top: 20px;
  margin-left: 40px;
}
